* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 5px solid rgb(2, 2, 154);
    margin: 30px;
    padding: 15px;
    width: 45%;
    color: rgb(2, 2, 154);
}
