.listWrapper{
    background-color: rgba(127, 255, 212, 0.5);
    padding: 30px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 18px;
    width: 18vw;
    color: rgb(66, 120, 102);
}